* {
    border-width: 1px;
}

#homepage-title {
    font-size: 50px;
    font-family: 'Candara', Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    width: 100vw;
}

div.container {
    text-align: center;
}


.contents-list {
    display: inline-block;
    font-family: 'Arial', Helvetica, sans-serif;
    list-style: none;
    list-style-position: inside;
}

.contents-list li {
    margin-bottom: 20px;
}
.contents-list a {
    font-size: 30px;
}


.recipe-title {
    margin-top: 10px;
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 100px;
    font-style: bold;
    margin-bottom:  10px;
    color: rgb(248, 6, 6);
    background-color: rgb(252, 255, 85);
}

img {
    display: block;
    margin: 0 auto;
    width: 60vw;
    height: auto;
    margin-bottom: 13px;
}

h2 {
    text-align: center;
    font-size: 45px;
    background-color: aqua;
    margin-bottom: 17px;
    margin-top: 0px;
}

.ingredients-list {
    text-align: left;
    margin-bottom: 20px;
}

.ingredients-list, .steps-list{
    display: inline-block;
    list-style-position: inside;
}

li {
    margin: 5px 0px;
}

p {
    margin-bottom: 20px;
    text-align: center;
}

.steps-list {
    margin-bottom: 30px;
}